<div class="page-content">
	<div id="user-profile-1" class="user-profile row">
		<div class="col-xs-12 col-sm-3 center">
			<div>
				<span class="profile-picture">
					<img style="height: 200px;" id="avatar" class="editable img-responsive editable-click editable-empty" alt="涧野之" src="http://wx.qlogo.cn/mmopen/AbruuZ3ILClEAevleDSuhMfRVYZ1yRxNser0ic4KrsUVPJIxibcc82rHtGowzrLStI2rv9Zfia2r08KwDV3sWvdE38mvegxeM8U/0" src="http://wx.qlogo.cn/mmopen/AbruuZ3ILClEAevleDSuhMfRVYZ1yRxNser0ic4KrsUVPJIxibcc82rHtGowzrLStI2rv9Zfia2r08KwDV3sWvdE38mvegxeM8U/0">
				</span>
				<div class="space-4"></div>

				<div class="width-80 label label-info label-xlg arrowed-in arrowed-in-right">
					<div class="inline position-relative">
						<a href="#" class="user-title-label dropdown-toggle" data-toggle="dropdown">
							<i class="icon-circle light-green middle"></i>
							&nbsp;
							<span class="white ">涧野之</span>
						</a>

					</div>
				</div>
			</div>

			<div class="space-6"></div>



			<div class="clearfix">
				<div class="grid2">
					<span class="bigger-175 blue ">0</span>

					<br>
					发起活动
				</div>

				<div class="grid2">
					<span class="bigger-175 blue ">0</span>

					<br>
					参与活动
				</div>
			</div>

			<div class="hr hr16 dotted"></div>
			
			<div>
				<button class="btn btn-sm btn-success">我要充值</button>
				<!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
				<!-- <button class="btn btn-sm btn-pink">我要提现</button> -->
			</div>
		</div>

		<div class="col-xs-12 col-sm-9">
			
			<div class="center">
				<span class="btn btn-app btn-sm btn-success no-hover">
					<span class="line-height-1 bigger-170 "> 0 </span>

					<br>
					<span class="line-height-1 smaller-90"> 余额(¥) </span>
				</span>

				<span class="btn btn-app btn-sm btn-info no-hover">
					<span class="line-height-1 bigger-170 "> 0 </span>

					<br>
					<span class="line-height-1 smaller-90"> 积分 </span>
				</span>

				<span class="btn btn-app btn-sm btn-pink no-hover">
					<span class="line-height-1 bigger-170 "> 0 </span>

					<br>
					<span class="line-height-1 smaller-90"> 反馈 </span>
				</span>
			</div>
			
			<div class="space-12"></div>

			<div class="profile-user-info profile-user-info-striped">
				<div class="profile-info-row">
					<div class="profile-info-name"> 昵称 </div>

					<div class="profile-info-value">
						<span class="editable editable-click " id="name" style="display: inline;">涧野之</span>
					</div>
				</div>
				
				<div class="profile-info-row">
					<div class="profile-info-name"> 姓名 </div>

					<div class="profile-info-value">
						<span class="editable editable-click " id="name" style="display: inline;"></span>
					</div>
				</div>


				<div class="profile-info-row">
					<div class="profile-info-name"> 手机号码 </div>

					<div class="profile-info-value">
						<span class="editable editable-click " id="phone">18994224958</span>
					</div>
				</div>
				
				<div class="profile-info-row">
					<div class="profile-info-name"> 详细地址 </div>

					<div class="profile-info-value">
						<span class="editable editable-click " id="phone"></span>
					</div>
				</div>

				<div class="profile-info-row">
					<div class="profile-info-name"> 角色 </div>

					<div class="profile-info-value">
						<!-- ngIf: app.admin.userType == 1 -->
						<!-- ngIf: app.admin.userType == 0 --><span class="editable editable-click ng-scope">
								会员
						</span><!-- end ngIf: app.admin.userType == 0 -->
					</div>
				</div>
				
				<div class="profile-info-row">
					<div class="profile-info-name"> 创建时间 </div>

					<div class="profile-info-value">
						<span class="editable editable-click ">2017-06-19 08:49</span>
					</div>
				</div>
			</div>

		</div>
	</div>

	
</div>