<header class="app-header navbar">
  <button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>&#9776;</button>
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler d-md-down-none" type="button" appSidebarToggler>&#9776;</button>
  <ul class="nav navbar-nav d-md-down-none">

  </ul>
  <ul class="nav navbar-nav ml-auto p-r-27">
    <li class="nav-item dropdown" dropdown (onToggle)="toggled($event)">
      <a href class="nav-link dropdown-toggle" dropdownToggle (click)="false">
        <img [src]="admin.portrait" class="img-avatar" alt="admin@bootstrapmaster.com">
        <span class="d-md-down-none">admin</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <a class="dropdown-item" (click)="loginOut()"><i class="fa fa-lock"></i> Logout</a>
      </div>
    </li>
  </ul>
</header>
