<!--<div class="form-title">
    <h1>新增活动</h1>
</div>-->
<div class="card">
    <div class="card-header">
        <strong>新增活动</strong>
    </div>
    <form class="card-body form-horizontal">
        <div class="form-group row">
            <label class="col-sm-2 control-label"> 
                <span class="red">*</span>活动名称 
            </label>
            <div class="col-sm-9">
                <input type="text" id="text-input" name="text-input" class="form-control col-sm-5" placeholder="Text">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 control-label"> 
                类型 
            </label>
            <div class="col-sm-9">
                <select id="select" name="select" class="form-control col-sm-5">
                    <option value="0">Please select</option>
                    <option value="1">Option #1</option>
                    <option value="2">Option #2</option>
                    <option value="3">Option #3</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 control-label"> 
                <span class="red">*</span>抽奖次数
            </label>
            <div class="col-sm-9">
                <input type="text" class="form-control col-sm-5">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 control-label"> 
                报名时间
            </label>
            <div class="col-sm-9 my-row">
                <input type="text" class="form-control col-sm-5">
                <label class="col-sm-1 control-label" style="text-align:center;">至</label>
                <input type="text" class="form-control col-sm-5">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 control-label"> 
                <span class="red">*</span>活动时间
            </label>
            <div class="col-sm-9 my-row">
                <input type="text" class="form-control col-sm-5">
                <label class="col-sm-1 control-label" style="text-align:center;">至</label>
                <input type="text" class="form-control col-sm-5">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 control-label"> 
                <span class="red">*</span>活动地点
            </label>
            <div class="col-sm-9">
                <input type="text" class="form-control col-sm-5">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 control-label"> 
                <span class="red">*</span>报名填写项
            </label>
            <div class="col-sm-8">
                <input type="checkbox" name="quux[1]">
            </div>
        </div>
    </form>
</div>